* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(40, 41, 46);
}

.functional {
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 0.2em;
	width: 50%;
	margin: 0.5em;
}

.functional * {
	background-color: rgb(95, 97, 107);
	padding: 3px 6px;
}
/* .task-list {
}
.task-groups {
}
 */
.task {
	background-color: black;
	color: blanchedalmond;
}
